#!/bin/bash

# Set our primary display.
xrandr --output DP-4 --primary

# Load our ssh key into ssh-agent.
ssh-add

# Turn on numlock.
numlockx

# Load our .Xresources file.
xrdb -merge ~/.Xresources
